@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

[data-barcode-canvas] {
    --barcode-width: 4cm;
    --barcode-height: 1.5cm;
    --barcode-label-size: 0.3cm;
    --barcode-code-size: 0.7cm;
    --barcode-value-size: 0.25cm;

    color: black;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    background-color: white;
}

[data-barcode-paper] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

[data-barcode-label] {
    font-weight: 600;
    font-size: var(--barcode-label-size);
    white-space: nowrap;
}

[data-barcode-code] {
    font-family: "Libre Barcode 128", cursive;
    font-size: var(--barcode-code-size);
    line-height: 0.214;
    margin-top: 0.443em;
    white-space: nowrap;
}

[data-barcode-value] {
    font-size: var(--barcode-value-size);
    white-space: nowrap;
}

@media print {
    [data-barcode-canvas] {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }
}

@media screen {
    [data-barcode-canvas] {
        margin: auto;
        position: relative;
        box-shadow: 0 0 0.5rem #00000050;
        border-radius: 0.5rem;
        width: var(--barcode-width);
        height: var(--barcode-height);
    }
}
