body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.hover-up {
    transition-duration: 0.15s;
}

.hover-up:hover {
    transform: translateY(-4px);
}
